siteEngine: "jekyll"
siteLocalDir: "/Users/krainboltgreene/code/beelang/beelang.github.io"
siteDraftsDir: "_drafts/"
sitePostsDir: "_posts/"
siteImagesDir: "/"
siteUrl: "http://beelang.github.io"
frontMatter: """
---
layout: <layout>
title: "<title>"
summary: ""
date: <date>
authors:
  -
    name: "Kurtis Rainbolt-Greene"
    email: "me@kurtisrainboltgreene.name"
    avatar: "http://github.com/krainboltgreene.png"
---
"""
