siteEngine: "jekyll"
siteLocalDir: "/Users/krainboltgreene/code/krainboltgreene/blankjekyll"
siteDraftsDir: "_drafts/"
sitePostsDir: "_posts/"
siteImagesDir: "/"
siteUrl: "http://blankjekyll.github.io"
frontMatter: """
---
layout: <layout>
title: "<title>"
summary: ""
date: <date>
authors:
  - "Kurtis Rainbolt-Greene"
---
"""
