---
layout: "page"
title: "Home"
---

<section id="examples">
  <article>
{% highlight text %}
{% raw %}

Person: Object() clone()
  greeting: function() observe(name) observe(age)
    interpolate("My name is {{name}} and I'm age {{age}}.")

jane: Person() build(name: "Jane Lane", age: 31)
#> Person instance(name: "Jane Lane", age: 31, greeting: Function instance(observes: (name, age)))

jane age()
#> 31

jane greeting()
#> "My name is Jane Lane and I'm age 31."

jane age: 32
#> Person instance(name: "Jane Lane", age: 32, greeting: Function instance(observes: (name, age))})

jane greeting()
#> "My name is Jane Lane and I'm age 32."
{% endraw %}
{% endhighlight %}
  
    <p>
      :bee: is a organism oriented programming language, specifically designed with syntax simplicity in mind.
    </p>
    <ul>
      <li>No keywords.</li>
      <li>No duplicate syntax.</li>
      <li>Everything is a function</li>
      <li>First class functions.</li>
      <li>First class fbjects</li>
    </ul>
  </article>
</section>

<section id="installing">
  <header>
    <h1 class="heading">
      Installing
    </h1>
  </header>

  <article>
    <ol>
      <li>
        Download from <a href="/setup">this link</a>
      </li>

      <li>
        Some text related to the operating system
      </li>

      <li>
        Following the instructions
      </li>

      <li>
        Learn!
      </li>
    </ol>
  </article>
</section>

<section id="documentation">
  <header>
    <h1 class="heading">
      Documentation
    </h1>
  </header>

  <article>
    <p>
      Topping jelly beans pudding cotton candy caramels I love tiramisu. Jelly pastry apple pie jelly beans sugar plum chupa chups cheesecake danish. Wafer I love gingerbread halvah ice cream croissant gummies I love. Ice cream powder marshmallow chocolate icing. Cake dessert gingerbread chocolate.
    </p>

    <ul>
      <li>
         Jelly chocolate bar chocolate cake croissant biscuit.
      </li>

      <li>
        Biscuit pudding I love.
      </li>
    </ul>

    <p>
      Brownie marzipan muffin marshmallow I love gummi bears pudding liquorice jujubes.
    </p>
  </article>
</section>

<section id="community">
  <header>
    <h1 class="heading">
      Community
    </h1>
  </header>

  <article>
    <p>
      Cheesecake pie marzipan powder. Sweet marzipan chocolate sweet roll. Caramels sugar plum chupa chups I love cake I love I love gummies chocolate bar. Sesame snaps macaroon brownie dessert pastry. I love I love gummies wafer donut fruitcake oat cake tart. Wafer dessert jujubes halvah chupa chups pudding cheesecake sweet roll pie. Donut powder dessert marzipan. Bear claw cake tart oat cake. Liquorice I love lemon drops dessert sugar plum jujubes sweet pudding. Jelly beans sweet roll I love soufflé gummi bears. Jujubes chocolate cake brownie marzipan jelly beans. Toffee wafer bear claw sugar plum apple pie topping macaroon brownie. Marshmallow I love I love. Pie caramels pie danish pudding sweet roll.
    </p>
  </article>
</section>

<section id="news">
  <header>
    <h1 class="heading">
      Latest News
    </h1>
  </header>

  <article>
    <ol>
      {% for post in site.posts | order: 'date'  %}
        <li>
          <a class="name" href="{{ post.url }}">{{ post.title }}</a> - <strong class="summary">{{ post.summary }}</strong> - <em class="authors">Written by {% for author in post.authors %}<a href="mailto:{{ author.email }}">{{ author.name }}</a>{% endfor %}.</em> - <time class="timestamp">Last updated {{ post.date | date: "%Y/%m/%d" }}</time>
        </li>
      {% endfor %}
    </ol>
  </article>
</section>
