<footer role="contentinfo">
  <section id="information">
    <h1 class="heading">
      Information
    </h1>

    <section class="column">
      <h2 class="heading">
        Pages
      </h2>

      <ul class="links">
        {% for page in site.pages reversed %}
          <li class="link">
            <a href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="column">
      <h2 class="heading">
        Social
      </h2>

      <ul class="links">
        {% for profile in site.profiles %}
          <li class="link">
            <a rel="profile" href="{{ profile.url }}">{{ profile.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </section>

  <section id="legal">
    <h2 class="heading">
      Legal
    </h2>

    <p id="disclaimer">
      Cookie topping cookie gummi bears jelly caramels bonbon chocolate bar
      muffin. Cake pastry cake lemon drops liquorice sweet roll carrot cake
      cheesecake.
    </p>

    <p id="copyright">
      {{ site.title }}
      by <a rel="author" href="{{ site.url }}" >{{ site.owner }}</a>
      is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      Based on a work at <a rel="source" href="{{ site.github }}">{{ site.github }}</a>.
    </p>
  </section>

  <figure id="logo">
    <img class="logo" src="{{ site.logo }}" alt="Logo image">
  </figure>
</footer>
