<footer role="contentinfo">
  <section id="information">
    <section class="column">
      <header>
        <p class="heading">
          Pages
        </p>
      </header>

      <ul class="links">
        <li class="link">
          <a href="/posts">Posts</a>
        </li>

        <li class="link">
          <a href="/details">Details</a>
        </li>

        <li class="link">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </section>

    <section class="column">
      <header>
        <p class="heading">
          Social
        </p>
      </header>

      <ul class="links">
        <li class="link">
          <a href="#">Facebook</a>
        </li>

        <li class="link">
          <a href="#">Twitter</a>
        </li>

        <li class="link">
          <a href="#">YouTube</a>
        </li>
      </ul>
    </section>

    <section class="column">
      <header>
        <p class="heading">
          Legal
        </p>
      </header>

      <ul class="links">
        <li class="link">
          <a href="#">Terms &amp; Conditions</a>
        </li>

        <li class="link">
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
    </section>
  </section>

  <figure id="logo">
    <img src="/logo.jpg" alt="Logo image">
  </figure>

  <section id="legal">
    <p id="disclaimer">
      Cookie topping cookie gummi bears jelly caramels bonbon chocolate bar
      muffin. Cake pastry cake lemon drops liquorice sweet roll carrot cake
      cheesecake.
    </p>

    <figure id="copyright">
      <caption>
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ site.copyright.title }}</span>
        by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ site.url }}" property="cc:attributionName" rel="cc:attributionURL">{{ site.copyright.author }}</a>
        is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="{{ site.github }}" rel="dct:source">{{ site.github }}</a>.
      </caption
    </figure>
  </section>
</footer>
