$footer-backgroud-color: #2c3e50;
$footer-action-color: #fff;

body > footer {
  padding-bottom: 150px;
  background-color: $footer-backgroud-color;

  h1.heading {
    font-size: 1.8em;
  }

  h2.heading {
    font-size: 1.5em;
  }

  #information {
    @include pad();
    @include outer-container;

    text-align: center;

    .heading {
      color: darken($footer-action-color, 50%);
    }

    .column {
      @include span-columns(4);
    }

    .links {
      .link {
        a {
          color: $footer-action-color;
          text-decoration: underline;
        }
      }
    }
  }

  #legal {
    @include outer-container;
    @include pad();

    text-align: center;
    color: darken($footer-action-color, 50%);

    #disclaimer {
      @include span-columns(6);
      @include shift(3);
    }

    #copyright {
      @include span-columns(6);
      @include shift(3);

    }
  }

  #logo {
    text-align: center;
    img {
      border-radius: 100%
    }
  }
}
