$header-backgroud-color: #F44336;
$header-brand-backgroud-color: #212121;
$header-link-color: #FAFAFA;

body > header {
  background-color: $header-backgroud-color;

  #links {
    @include outer-container;
    .links {
      .link {
        @include pad();
        display: inline-block;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        a {
          color: $header-link-color;
        }
      }
      .brand {
        font-size: 1.5em;
        background-color: $header-brand-backgroud-color;
      }
    }
  }
}
