$header-backgroud-color: #3498db;
$header-link-color: #fff;

body > header {
  background-color: $header-backgroud-color;

  #links {
    @include outer-container;
    .links {
      .link {
        @include pad();
        display: inline-block;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        a {
          color: $header-link-color;
        }
      }
      .brand {
        font-size: 1.5em;
        background-color: darken($header-backgroud-color, 10%);
      }
    }
  }
}
