#Post {
  color: #FAFAFA;
  background-color: $dark;
  header {
    @include pad();
    .heading {
      font-size: 2.7em;
    }
  }

  #content {
    @include pad();

    blockquote {
      background-color: #ecf0f1;
    }
  }

  footer {
    @include pad();
    color: #FAFAFA;
    background-color: $light;

    .author {
      @include pad();
      .avatar {
        vertical-align: middle;
        width: 36px;
        height: 36px;
        border-radius: 100%;
      }
    }
  }
}
