@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

$dark: #212121;
$light: #F44336;

@import "header";
@import "footer";
@import "home";
@import "post";

p, ol, ul {
  font-size: 1.5em;
}

a {
  text-decoration: underline;
}
