---
layout: default
---
{% include header.html %}

<main id="Post">
  <header>
    <h1 id="title" class="heading">
      {{ page.title }}
    </h1>

    <p id="date">
      Last updated <time>{{ page.date | date: "%Y/%m/%d" }}</time>.
    </p>
  </header>

  <article id="content">
    {{ content }}
  </article>

  <footer>
    <p>
      Written by:
    </p>

    <ul class="authors">
      {% for author in page.authors %}
        <li class="author">
          <img class="avatar" src="{{ author.avatar }}" alt="{{ author.name }}">
          <a href="mailto:{{ author.email }}">{{ author.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </footer>
</main>

{% include footer.html %}
