---
layout: default
---
{% include header.html %}

<article id="post">
  <header>
    <h1 id="title" class="heading">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <p id="date">
      <time>{{ page.date | date: "%Y/%m/%d" }}</time>
    </p>

    <ul class="authors">
      {% for author in page.authors %}
        <li class="author">
          <figure class="bio">
            <img class="avatar" src="/{{ author | slugify }}.jpg" alt="{{ author }}">

            <figcaption>
              {{ author }}
            </figcaption>
          </figure>
        </li>
      {% endfor %}
    </ul>
  </header>

  {{ content }}
</article>

{% include footer.html %}
