---
layout: default
---
{% include header.html %}

<main id="post">
  <header>
    <h1 id="title" class="heading">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <p id="date">
      Last updated <time>{{ page.date | date: "%Y/%m/%d" }}</time>.
    </p>

    <p id="authors">
      Written by
      {% for author in page.authors %}
        <a href="mailto:{{ author }}">{{ author }}</a>
        <img class="avatar" src="/{{ author | slugify }}.jpg" alt="{{ author }}">
      {% endfor %}
    </p>
  </header>

  <article id="content">
    {{ content }}
  </article>
</main>

{% include footer.html %}
